
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: grey;
    text-align: center;
}

#myCanvas {
    margin-top: 20px;
    background-color: white;
    border: solid 1px black;
}

